<!--The content below is only a placeholder and can be replaced.-->
<div>
  <!-- 01 - Components -->  
  <!-- <app-user-auth></app-user-auth> -->
  <!-- <app-vehicles></app-vehicles> -->
  <!-- <app-vehicle-listing></app-vehicle-listing> -->

  <button routerLink="">Home</button>
  <button routerLink="/vehicles">Vehicles</button>
  <button routerLink="/customers">Customers</button>
  
  <router-outlet></router-outlet>
</div>

